In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
gdf = gpd.read_file('data/geometry/world-administrative-boundaries.geojson')

In [3]:
df = pd.read_json('data/faostat/faostat.json').T

In [4]:
hash = pd.read_csv('data/faostat/hashtable.csv')

In [5]:
fao_drop = ['Bonaire, Sint Eustatius and Saba', 'Curaçao','Sint Maarten (Dutch part)']

In [6]:
df.drop(fao_drop,inplace=True)

In [7]:
hash.columns

Index(['faostat', 'map'], dtype='object')

In [8]:
fao_hash=hash.set_index('faostat').rename(columns={'map':'name'})

In [9]:
fao_hash

                                     name
faostat
NaN                                 Abyei
Afghanistan                   Afghanistan
NaN                            Aksai Chin
Albania                           Albania
Algeria                           Algeria
...                                   ...
Wallis and Futuna Islands       West Bank
Western Sahara             Western Sahara
Yemen                               Yemen
Zambia                             Zambia
Zimbabwe                         Zimbabwe

[256 rows x 1 columns]

In [10]:
df1 = df.join(fao_hash).set_index('name')
df1

,landarea,landuse,items
name,,,
Afghanistan,65223.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani..."
Albania,2740.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani..."
Algeria,238174.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani..."
American Samoa,20.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None
Andorra,47.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None
...,...,...,...
West Bank,14.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None
Western Sahara,26600.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None
Yemen,52797.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani..."
Zambia,74339.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani..."
Zimbabwe,38685.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani..."

In [11]:
gdf1 = gdf[['name','continent','region','status','geometry']].sort_values('name').set_index('name')
gdf1

,continent,region,status,geometry
name,,,,
Abyei,Africa,Northern Africa,None,"POLYGON ((28.04213 9.34369, 27.81417 9.80064, ..."
Afghanistan,Asia,Southern Asia,Member State,"POLYGON ((74.91574 37.23733, 74.80873 37.22423..."
Aksai Chin,Asia,Eastern Asia,Sovereignty unsettled JammuK-China,"POLYGON ((78.94845 33.37895, 78.73987 33.54533..."
Albania,Europe,Southern Europe,Member State,"POLYGON ((20.07142 42.56091, 20.10208 42.53347..."
Algeria,Africa,Northern Africa,Member State,"POLYGON ((8.62203 36.94137, 8.63222 36.88194, ..."
...,...,...,...,...
West Bank,Asia,Western Asia,Occupied Territory,"POLYGON ((35.55257 32.39420, 35.56036 32.37783..."
Western Sahara,Africa,Northern Africa,Non-Self-Governing Territory,"POLYGON ((-8.66667 27.66666, -8.66722 27.59972..."
Yemen,Asia,Western Asia,Member State,"MULTIPOLYGON (((52.23416 12.20111, 52.27888 12..."
Zambia,Africa,Eastern Africa,Member State,"POLYGON ((32.94040 -9.40508, 32.93944 -9.41583..."
Zimbabwe,Africa,Eastern Africa,Member State,"POLYGON ((30.41576 -15.63187, 30.41729 -15.642..."

In [12]:
merge = gpd.GeoDataFrame(df1.join(gdf1)[['region','continent','status','landarea','landuse','items','geometry']],geometry='geometry')
merge.rename({'map':'name'},inplace=True)
merge

,region,continent,status,landarea,landuse,items,geometry
name,,,,,,,
Afghanistan,Southern Asia,Asia,Member State,65223.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani...","POLYGON ((74.91574 37.23733, 74.80873 37.22423..."
Albania,Southern Europe,Europe,Member State,2740.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani...","POLYGON ((20.07142 42.56091, 20.10208 42.53347..."
Algeria,Northern Africa,Africa,Member State,238174.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani...","POLYGON ((8.62203 36.94137, 8.63222 36.88194, ..."
American Samoa,Polynesia,Oceania,US Non-Self-Governing Territory,20.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None,"POLYGON ((-170.63726 -14.28944, -170.74389 -14..."
Andorra,Southern Europe,Europe,Member State,47.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None,"POLYGON ((1.72361 42.50944, 1.71889 42.50305, ..."
...,...,...,...,...,...,...,...
West Bank,Western Asia,Asia,Occupied Territory,14.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None,"POLYGON ((35.55257 32.39420, 35.56036 32.37783..."
Western Sahara,Northern Africa,Africa,Non-Self-Governing Territory,26600.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...",None,"POLYGON ((-8.66667 27.66666, -8.66722 27.59972..."
Yemen,Western Asia,Asia,Member State,52797.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani...","MULTIPOLYGON (((52.23416 12.20111, 52.27888 12..."
Zambia,Eastern Africa,Africa,Member State,74339.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani...","POLYGON ((32.94040 -9.40508, 32.93944 -9.41583..."
Zimbabwe,Eastern Africa,Africa,Member State,38685.0,"[{'type': 'Cropland', 'unit': '1000 hectare', ...","[{'item': 'Cattle and Buffaloes', 'unit': 'ani...","POLYGON ((30.41576 -15.63187, 30.41729 -15.642..."

In [13]:
merge['landuse'] = [str(x) for x in merge.landuse.values]
merge['items'] = [str(x) for x in merge['items'].values]

In [14]:
merge.to_file('data/geojson/faostat.geojson', driver='GeoJSON')